= form_for @concert, :remote => true do |f|
  = f.label :artist
  = f.text_field :artist, :autofocus => true
  = f.label :date
  = f.text_field :date
  = f.label :venue
  = select_tag "venues", options_from_collection_for_select(@venues, "id", "name")
  = button_to_function('Cancel', 'cancel_concert_form()')
  = f.submit